.detail-des, .review-section, .add-review-section{
    width: 100%;
    padding: 100px 5vw 0;
}

.des{
    font-family: 'lato', sans-serif;
    line-height: 30px;
    font-size: 20px;
    opacity: 0.5;
}
